[submodule "HerbSearch.jl"]
	path = HerbSearch.jl
	url = https://github.com/Herb-AI/HerbSearch.jl.git
[submodule "HerbGrammar.jl"]
	path = HerbGrammar.jl
	url = https://github.com/Herb-AI/HerbGrammar.jl.git
[submodule "HerbData.jl"]
	path = HerbData.jl
	url = https://github.com/Herb-AI/HerbData.jl.git
[submodule "HerbEvaluation.jl"]
	path = HerbEvaluation.jl
	url = https://github.com/Herb-AI/HerbEvaluation.jl.git
[submodule "HerbExamples.jl"]
	path = HerbExamples.jl
	url = https://github.com/Herb-AI/HerbExamples.jl
[submodule "HerbConstraints.jl"]
	path = HerbConstraints.jl
	url = https://github.com/Herb-AI/HerbConstraints.jl.git
[submodule "HerbCore.jl"]
	path = HerbCore.jl
	url = https://github.com/Herb-AI/HerbCore.jl.git
[submodule "HerbLearn.jl"]
	path = HerbLearn.jl
	url = https://github.com/Herb-AI/HerbLearn.jl
